# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.env

# Virtual environment
venv/
env/

# Django
db.sqlite3
*.pot
*.pyc

# VSCode
.vscode/

# Node / React
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db
